body {
  color: lightslategray;
}

blockquote {
  background-color: rgba(0, 12, 24, 0.05);
}

a {
  border: 1px dashed red;
}

em {
  color: darkred;
}
/*da formato al contenido de p*/
.content1 p { 
    border: 1px solid rgba(0, 0, 0, .56);
}
/*da formato al contenido del cuadro que contiene los links*/
.variant-em { 
    font-weight: bold;
    font-style: inherit;
    color: black;
    background-color: greenyellow;
}

ul { /*da color de fondo a la lista*/
  background-color: unset;
}

ul li {
  padding: 16px;
}
/*da formato a los links, en este caso formatos heredados de la tabla que los contiene*/
.link1 a {
    color: inherit;
    padding: inherit;
}

.link2 a {
    color: initial;
    padding:initial;
}

.link3 a {
    color: unset;
    padding: unset;
}
